* {
  color: #fff;
  cursor: default;
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  overflow: hidden;
  outline: none;
}

body, html {
  width: 100%;
  height: 100%;
}

body.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.background {
  width: 50%;
  height: 50%;
  background: #171717;
  position: relative;
}

.table-server {
  width: 100%;
  height: calc(100% - 20px);
  overflow-y: auto;
  position: relative;
}

table {
  width: 100%;
  border-spacing: 0;
  border-collapse: separate;
}

table tr {
  height: 65px;
}
thead tr {
  height: 55px;
}

table td {
  padding: 7px 14px;
}

table tr:nth-child(even)  {
  background: #343434;
}

.table-server th {
  position: sticky;
  top: 0;
}

.law-table th {
  height: 36px;
  text-align: center;
  background: #3684ff;
  font-weight: 600;
  text-transform: uppercase;
  width: 20%;
}

.table-server th {
  height: 36px;
  text-align: center;
  background: #3684ff;
  font-weight: 600;
  text-transform: uppercase;
  width: 20%;
}

table td {
  text-align: center;
}

.table-server img {
  height: 40%;
}

::-webkit-scrollbar {
  width: 13px;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: #343434
}

::-webkit-scrollbar-thumb:hover {
  background: #343434;
}

.server {
  height: 20px;
  width: 100%;
  color: #727272;
  position: absolute;
  bottom: 0;
  padding: 0 7px;
}

.server > .name {
  float: left;
}

.server > .players {
  float: right;
}

.laws {
  width:500px;
  height: 50%;
  background-color:#171717;
  margin-right: 30px;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 0px;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}